<h1 id="tableLabel">Password manager</h1>

<table *ngIf="credentials">
  <thead>
    <tr>
      <th>Name</th>
      <th>Password</th>
      <th></th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let credential of credentials">
      <td>{{ credential.name }}</td>
      <td>{{ hidePassword(credential) }}</td>
      <td><button (click)="togglePasswordVisibility(credential)">Toggle Password Visibility</button></td>
      <td>{{ credential.creationTime }}</td>
    </tr>
  </tbody>
</table>
